<h1>Tags</h1>

<div data-test-tags>
  {{#each this.sortedTags as |tag|}}
    <LinkTo
      @route="tags.show"
      @model={{tag.name}}
      data-test-tag={{tag.name}}
      class="btn btn-primary btn-large mr-1 mb-3"
    >
      {{ tag.name }}
    </LinkTo>
  {{/each}}
</div>
