<h2>Log in</h2>

{{#if this.errorMessage}}
  <BsAlert @type="danger">
    {{this.errorMessage}}
  </BsAlert>
{{/if}}

<BsForm
  @formLayout="vertical"
  @model={{this}}
  @onSubmit={{fn this.authenticate}} as |Form|
>
  <Form.element
    @controlType="text"
    @label="Email"
    @property="email"
    data-test-email-field
    as |el|
  >
    <el.control
      placeholder="Email"
      autocapitalize="off"
    />
  </Form.element>
  <Form.element
    @controlType="password"
    @label="Password"
    @property="password"
    data-test-password-field
    as |el|
  >
    <el.control placeholder="Password" />
  </Form.element>
  <div class="actions">
    <BsButton
      @buttonType="submit"
      @type="primary"
      data-test-login-button
    >
      Login
    </BsButton>
  </div>
</BsForm>
